.mainCalclass1 {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6rem;
  background-image: url("/public/assets/calculator/calculator_bg.png");
  background-size: cover;
  background-position: 100% 100%;
  position: relative;
  width: 90%;
  height: 100%;
  /* min-height: 80vh; */
}

.lItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}
.mainLI {
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  background-color: #cdffff;
  box-shadow: 1px 1px 36px -11px rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
}

.navigation-list a {
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: #333;
  width: max-content;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .mainLI {
    flex-direction: column;
    align-items: center;
  }
  .mainCalclass1 {
    border-radius: 4rem;
  }
}

.lItems a:hover {
  border-radius: 15px;
  background-color: #333;
  color: #f2f2f2;
}
