.u-dashboard-title {
  margin: 0.5rem;
}

.u-dashboard-title-name {
  font-weight: bolder;
  font-size: 2.5rem;
}

.main-prop-dash-Main {
  background-color: #c0e28e;
  padding: 1rem;
  min-height: 90vh;
}

.DAO-Member-logo-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DAO-Member-logo {
  width: 150px;
  /* border: 2px solid #566160; */
  border-radius: 1rem;
  height: 100px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.PropHeadLabel {
  font-weight: bold;
  text-transform: uppercase;
}

.DaoMemberDetails-class input[type="text"],
.DaoMemberDetails-class input[type="email"] {
  background-color: #f9f9f9;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.prop-dash-data-bg {
  margin-top: 2%;
  border-radius: 0.7rem;
  color: #1e2317;
  background-color: #5f802a;
  font-weight: 600;
}

.DMember-db-btns {
  margin: 1.5rem;
  padding: 0;
  max-width: 25%;
}

.DMember-db-btns-body {
  text-align: center;
}
.DMember-edit-save-btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  transition: all 550ms;
  box-shadow: rgb(120, 169, 139) 0 -25px 18px -14px inset,
    rgba(110, 141, 122, 0.719) 0 1px 2px, rgb(154, 174, 162) 0 2px 4px,
    rgba(114, 142, 125, 0.736) 0 4px 8px, rgba(113, 159, 131, 0.571) 0 8px 16px,
    rgba(158, 183, 168, 0.719) 0 16px 32px;
}
.DMember-edit-save-btn:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.PData-sell-btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  transition: all 550ms;
  box-shadow: rgb(45, 55, 49) 0 -25px 18px -14px inset,
    rgba(99, 125, 109, 0.719) 0 1px 2px, rgb(154, 174, 162) 0 2px 4px,
    rgba(114, 142, 125, 0.736) 0 4px 8px, rgba(113, 159, 131, 0.571) 0 8px 16px,
    rgba(96, 133, 111, 0.766) 0 16px 32px;
}
.PData-sell-btn:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: rgba(133, 161, 144, 0.907) 0 -25px 18px -14px inset,
    rgba(144, 165, 152, 0.929) 0 1px 2px, rgb(123, 150, 133) 0 2px 4px,
    rgba(145, 171, 155, 0.879) 0 4px 8px, rgba(125, 160, 138, 0.885) 0 8px 16px,
    rgba(150, 180, 162, 0.918) 0 16px 32px;
  transform: scale(1.04) rotate(-0.5deg);
}

.Member-prop-orders-class {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Member-prop-orders-Btns {
  display: flex;
  justify-content: center;
}

.Member-prop-Btn {
  margin-right: 1.5rem;
}

.Member-prop-Btn,
.Member-orders-Btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(0, 129, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.Member-prop-Btn:hover,
.Member-orders-Btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  /* color: rgb(0, 129, 0); */
}

@media only screen and (max-width: 767px) {
  .row {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }

  .DAO-Member-logo-class,
  .DaoMemberDetails-class,
  .d-flex.align-items-center.justify-content-end {
    margin-top: 1rem;
  }
  .u-dashboard-title-name {
    font-weight: bolder;
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .Member-prop-orders-class {
    display: flex;
    justify-content: center;
  }

  .Member-prop-orders-Btns {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Member-prop-Btn {
    margin: auto;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .DMember-db-btns-body {
    display: flex;
  }
  .DMember-edit-save-btn {
    margin-right: 1rem;
  }
  .u-dashboard-title-name {
    font-weight: bolder;
    font-size: 1.5rem;
  }
}
