.main-prop-dash-Main {
  background-color: #c0e28e;
  padding: 1rem;
  min-height: 90vh;
}

.DAO-Member-logo-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DAO-Member-logo {
  width: 150px;
  border-radius: 2rem;
  height: 100px;
}

.PropHeadLabel {
  font-weight: bold;
}

.DaoMemberDetails-class input[type="text"],
.DaoMemberDetails-class input[type="email"] {
  background-color: #ffffff;
}

.PDataPage-content-Btns {
  text-align: center;
}

.Member-prop-orders-class {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Member-prop-orders-Btns {
  display: flex;
  justify-content: center;
}

.Member-prop-Btn {
  margin-right: 1.5rem;
}

.Member-prop-Btn,
.Member-orders-Btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(0, 129, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.Member-prop-Btn:hover,
.Member-orders-Btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media only screen and (max-width: 767px) {
  .row {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }

  .DAO-Member-logo-class,
  .DaoMemberDetails-class,
  .d-flex.align-items-center.justify-content-end {
    margin-top: 1rem;
  }
}

@media (max-width: 650px) {
  .Member-prop-orders-class {
    display: flex;
    justify-content: center;
  }

  .Member-prop-orders-Btns {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Member-prop-Btn {
    margin: auto;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .PDataPage-content-Btns {
    display: flex;
  }
  .PData-reject-btn {
    margin-right: 1rem;
  }
}
