.buyBg {
  background-color: #aff6ff;
}

.BuyPage-box-bg {
  background-color: aliceblue;
  border-radius: 3rem;
  width: fit-content;
  padding: 2rem !important;
  font-size: 1.1rem;
  font-weight: 550;
  box-shadow: -2px 3px 27px -4px rgba(0, 0, 0, 0.44);
  margin: 1rem;
  height: fit-content;
}
.BuyPage-content-box {
  padding: 0;
  margin: 0;
}

.company-wrapper {
  display: inline-block;
  width: 45%;
  margin: 0 2.5%;
  margin-bottom: 3rem;
  background-color: #fff;
  border-radius: 3rem;
}

.buyHead {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3%;
}
.buy-button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid black;
}
.companies {
  padding: 3% 10%;
}

.company-info {
  padding: 10%;
}

.allBuyBg {
  background-color: #e1e1e1;
  color: #2f2f2f;
  padding: 5px;
  border-radius: 0.5rem;
}

.companyInfoLabel {
  font-size: 1.2rem;
  font-weight: 600;
}

.company-description {
  height: 100px;
  overflow-y: scroll;
}

.scroll-bar::-webkit-scrollbar {
  width: 4px;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: #e1e1e1;
  border-radius: 0 0.5rem 0.5rem 0;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
  border-radius: 20px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.buy-button {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 40%;
  padding: 0.5rem 0;
  transition: ease-in-out 0.4s;
}
.companyAddressBg {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 400px) {
  .BuyPage-box-bg {
    border-radius: 1.5rem;
  }
  .BuyPage-content-box {
    height: fit-content;
  }
}
@media (max-width: 650px) {
  .BuyPage-content-box {
    height: fit-content;
  }
}
@media (max-width: 767px) {
  .BuyPage-box-bg {
    width: fit-content;
    margin: auto 2rem;
    padding: 1.3rem 2rem !important;
  }
  .BuyPage-content-box {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .company-info {
    padding: 8%;
  }
  .companies {
    padding: 5% 8%;
  }
  .buyHead {
    padding-top: 5%;
  }
}

@media (max-width: 768px) {
  .company-wrapper {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .buy-button {
    letter-spacing: 1px;
  }
}

@media (max-width: 576px) {
  .companyInfoLabel {
    font-size: 1.1rem;
  }

  .buyHead {
    font-size: 2.5rem;
  }
}
