button {
  cursor: pointer;
  transition: all 0.2s linear;
}
/* .path1 {
  background-color: #00daf7;
  color: #00daf7;
} */
button:hover {
  transform: scale(1.01);
}
button.connect-wallet {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #00daf7;
  color: #fff;
  border: 1px solid #00daf7;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 1.5px;
}
button.chain-button {
  margin: auto 10px;
  padding: 5px;
  font-size: 0.865rem;
  background-color: #fff;
  color: #00daf7;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 10px;
}
button.address-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  padding: 2px;
  padding-left: 5px;
  font-size: 0.865rem;
  background-color: #fff;
  color: #00daf7;
  border: 1px solid #fff;
  font-weight: 700;
  border-radius: 10px;
}
span.account-balance {
  background-color: #00daf7;
  color: #fff;
  margin-left: 5px;
  border-radius: 10px;
  padding: 4px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
button.wrong-network {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #f24343;
  padding: 10px 20px;
  background-color: #ff4c4c;
  color: #fff;
  font-weight: 700;
}
@media only screen and (max-width: 1200px) {
  button.connect-wallet {
    padding: 10px 10px;
    font-size: 0.865rem;
    letter-spacing: normal;
  }
  button.chain-button {
    padding: 10px 10px;
    font-size: 0.865rem;
    letter-spacing: normal;
  }
  span.disable-mobile {
    display: none;
  }
  span.account-balance {
    background-color: #fff;
    color: #00daf7;
    font-size: 0.865rem;
    padding: 0;
  }
  span.account-balance svg {
    fill: #00daf7;
  }
  button.address-balance {
    content: "";
    padding: 1px;
  }
}
