.sticky-top {
    background-color: #ffff;
    /* position: sticky; */
    /* top: 0; */
}

#container{
    display: flex;
    justify-content: space-between;
}

.login-text{
    font-size: 1.3rem;
    box-shadow: 0px 3px 3px 0px grey!important;
}
.login-text:hover{
    background-color: white;
    color: black;
}
.login-text:active{
    box-shadow: 0px 0px 0px 0px grey!important;
}


.nav-link {
    font-size: 1.5rem!important;
    font-weight: 450!important;
    margin-left: 1.2rem!important;
    color: black!important;
}

.sub-item{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.nav-link:hover{
    color: #038b97!important;
}

 .navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
 
.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.for-mob{
    display: none!important;
}

.for-desktop{
    display:inline-flex!important;
}

.dropdown-item{
    background-color: white!important;
    color: black!important;
    font-size: 1rem!important;
    padding-bottom: 0.5rem!important;
}

.dropdown-item:hover{
    color: #038b97!important;
}

.dropdown-menu{
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
    /* background: linear-gradient( 263deg, rgba(252,74,74,1) 0%, rgba(0,212,255,1) 100% ); */
    background: black;
}

@media only screen and (max-width: 1250px) {
    .nav-link{
        font-size: 1.3rem!important;
    }
}

@media only screen and (max-width: 1150px) {
    .nav-link{
        font-size: 1.1rem!important;
    }
}
@media only screen and (max-width: 991px) {
    .nav-height {
        height: 100vh!important;
    }
    .nav-link {
        /* height: 100vh!important; */
        font-size: 40px!important;
        font-weight: 700!important;
        line-height: 10vh!important;
    }

    .for-mob{
        display: block;
    }

    .for-desktop{
        display:none;
    }

  }

  @media only screen and (max-width: 450px) {
    .nav-link {
        font-size: 30px!important;
        font-weight: 650!important;
        line-height: 10vh!important;
    }
  }