.main-div{
    background-image: url('http://localhost:3000/assets/home/aboutProject.png');
    background-size: cover;
    background-position: 100% 100%;
    min-height: 70vh;
    margin-top: -8%;
    padding-top: 11%;
    border-radius: 0 0 8rem 8rem;
}

.about-image{
    width:200%;
    height: 70%;
}

.about-text-content{
    height: fit-content;
}


.about-head{
    color: #FFFFFF;
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.box-bg{
    background-color: aliceblue;
    border-radius: 5.5rem;
    width: 30%;
    font-size: 1.1rem;
    font-weight: 550;
}

.all-boxes{
    margin-bottom: 5%;
}
