.platform-box{
    margin: 4% 0;
}

.platform-head{
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 3%;
}

.platform-bg{
    background-color: #00daf7;
    border-radius: 5.5rem;
    width: 25%;
}
.platform-content-head{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
    width: fit-content;
}

.platform-content{
    font-size: 1.2rem;
    font-weight: 700;
}