.start-calc-btn-main {
  display: inline-block;
  border-radius: 5px;
  background-color: #9bc794;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .start-calc-btn-main {
    font-size: 22px;
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  .start-calc-btn-main {
    font-size: 18px;
    width: 60%;
  }
}

.start-calc-btn-main span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start-calc-btn-main span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.start-calc-btn-main:hover span {
  padding-right: 25px;
}

.start-calc-btn-main:hover span:after {
  opacity: 1;
  right: 0;
}

.house-form-landing {
  margin: 0 auto;
  background-color: #9be1eb;
  box-shadow: 1px 1px 36px -11px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 20px;
  width: 60%;
}
.formMain-landing {
  margin: 20px;
}
.form-group-landing {
  display: flex;
  align-items: center;
  /* text-align: center; */
}

.calc-instruction-list-class {
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
}

.use-of-calc {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.house-form__label-landing {
  background-color: #ffffff;
  box-shadow: inset -2px -3px 36px -17px rgba(0, 0, 0, 0.33);
  border-radius: 15px;
  font-weight: bold;
  height: 50%;
  /* display: inline-block; */
  margin: 0;
  padding: 10px;
}

.title-calc-main {
  font-size: 1.5rem;
  border-bottom: 3px solid white;
}

/* .landingPageCalc {
  margin: 13%;
  padding: 0;
  font-size: xx-large;
}
.Calculator-details p {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  text-align: left;
  font-size: 1rem;
} */

@media (max-width: 767px) {
  .use-of-calc {
    font-size: 1rem;
  }
  .house-form-landing {
    width: fit-content;
  }
}
