.footLinkLi{
    list-style-type: None;
    font-size: 1.3rem;
    font-weight: 400;
}

.quickLinks ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.footLink{
    text-decoration: none;
    color: black;
}
.footLink:hover{
    color: #038b97;
}

.icon-link{
    color:#00E0FF;
}

.linkHead {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #00E0FF;
    text-decoration-thickness:3px;
}

@media only screen and (max-width: 769px) {
.foot-links{
    justify-content: flex-start!important;
}
.quickLinks{
    width: 90%;

}
.social-media{
    max-width: 90%;
    
}
}
@media only screen and (max-width: 576px) {
.foot-links{
    justify-content: flex-start!important;
}

.quickLinks{
    width: 80%;
}
.social-media{
    max-width: 90%;
}
.footLinkLi{
    font-size: 0.9rem;
}
.linkHead{
    font-size: 0.9rem;
    margin-top: 2%;
}
.fa-2x{
    font-size: 1.5em;
}
}